<div class="container-fluid p-0">
  <!-- Menu -->
  <section class="menu-options h-85vh">
    <div class="h-65vh w-100vw">
      <ul>
        <li class="font-weight-custom-bold text-uppercase">
          <%= link_to 'About', about_path %>
        </li>
        <li class="font-weight-custom-bold text-uppercase">
          <%= link_to 'Projects', about_path %>
        </li>
        <li class="font-weight-custom-bold text-uppercase">
          <%= link_to 'Contact', about_path %>
        </li>
      </ul>
    </div>
  </section>
  <!-- Hero -->
  <section id="menu-banner">
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-around h-85vh">
      <div class="hero-text align-self-center text-center">
        <h1 class="font-weight-custom-bold text-uppercase"> <%= t('home.header') %> </h1>
        <p class="text-muted"> <%= t('home.subheader') %> </p>
      </div>
      <div class="hero-illustration d-none d-md-block">
        <%= image_tag 'https://via.placeholder.com/450x250/fbbd2c/808080' %>
      </div>
    </div>
  </section>
  <!-- Div photo office -->
  <section>
    <div class="office-photo pb-2">
      <%= image_tag 'https://images.unsplash.com/photo-1527192491265-7e15c55b1ed2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80' %>
    </div>
  </section>
  <!-- Div selected work -->
  <section>
    <div class="container">
      <div class="text-center mt-5 pb-5">
        <h2 class="font-weight-custom-bold">Selected work</h2>
      </div>
      <%= render 'shared/project_card',
        project_id: 'project_a',
        name: 'Project A',
        klass: 'flex-sm-row',
        desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.',
        image_url: 'https://via.placeholder.com/350x250/fbbd2c/808080' %>
      <%= render 'shared/project_card',
        project_id: 'project_b',
        name: 'Project B',
        klass: 'flex-sm-row-reverse',
        desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.',
        image_url: 'https://via.placeholder.com/350x250/fbbd2c/808080' %>
      <%= render 'shared/project_card',
        project_id: 'project_c',
        name: 'Project C',
        klass: 'flex-sm-row',
        desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.',
        image_url: 'https://via.placeholder.com/350x250/fbbd2c/808080' %>
      <%= render 'shared/project_card',
        project_id: 'project_d',
        name: 'Project D',
        klass: 'flex-sm-row-reverse',
        desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.',
        image_url: 'https://via.placeholder.com/350x250/fbbd2c/808080' %>
    </div>
  </section>
  <!-- Meet 3W -->
  <section>
    <div class="container">
      <div class="text-center mt-5 pb-5">
        <h2 class="font-weight-custom-bold">Meet 3W</h2>
      </div>
      <div class="team-wrapper d-flex flex-wrap justify-content-center mb-5">
        <%= render 'shared/team_member_card',
          name_id: 'team-mate-hm',
          name: 'Hadrien Matringe',
          desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.',
          image_url: "https://placehold.it/100/100" %>
        <%= render 'shared/team_member_card',
          name_id: 'team-mate-ai',
          name: 'Ana Ivan',
          desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.',
          image_url: "https://placehold.it/100/100" %>
        <%= render 'shared/team_member_card',
          name_id: 'team-mate-ks',
          name: 'Kristian Sølling',
          desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.',
          image_url: "https://placehold.it/100/100" %>
      </div>
    </div>
  </section>
  <!-- Contact form -->
  <section class="background-lilac py-3 p-sm-5">
    <div class="container">
      <div class="form-wrapper">
        <h2 class="font-weight-custom-bold"> <%= t('contact-form.form-header') %> </h2>
        <%= render 'contact_requests/form' %>
      </div>
    </div>
  </section>
</main>
</div>
</div>

